# ----------------------------| NODE MODULES |----------------------------------------------------
node_modules
bun.lock
bun.lockb


# ----------------------------| ENV FILES |-------------------------------------------------------
.env
.env.local
.env.prod
.env.*.local


# ----------------------------| LOGS & CONFIGS |--------------------------------------------------
*.log
.caddy/
caddy_config/
.generated/
backups/


# ----------------------------| CERTIFICATES & PRIVATE KEYS |-------------------------------------
*.pem
*.key
*.crt


# ----------------------------| DATA FILES |------------------------------------------------------
data/
postgres_data/
qdrant_data/
mem0_data/
caddy_data/


# ----------------------------| AGENT CONFIG FILES |------------------------------------------------------
.agents/
.cursor/
docs/

# ----------------------------| PYTHON FILES |------------------------------------------------------
__pycache__/

# ----------------------------| MAC OS FILES |------------------------------------------------------
.DS_Storecd